*{
    margin: 0;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

/*  
.page > *{
    flex-grow: 1;
}
*/

.header{
    background-color: lightgray;
    padding: 3%;
}

.body_one{
    background-color: yellow;
    padding: 3%;
}

.body_two{
    flex-grow: 1;
    background-color: pink;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* book from the dom element */
.book{
    background-color: white;
    padding: 30px;
    margin: 30px 20px;
    height: 200px;
    width: 200px;
    border-radius: 10px;

    text-align: center;
}

.b_title{
    font-size: 40px;
}

.b_author, .b_date{
    font-size: 20px;
}


.footer{
    background-color: lightblue;
    padding: 1%;
}

#form{
    padding: 40px;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    background-color: violet;

    position: absolute;
    top: 30%; /*moves the box to the top by 50%*/
    left: 32%;
    z-index: 2;

    visibility: hidden;
}

.form_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

input[type="text"], input[type="number"]{
    padding: 15px;
    border-radius: 15px;
    border-style: none;
    width: 450px;
    margin-top: 10px;
}


li{
    list-style: none;
    font-size: 30px;
}

#submit{
    padding: 20px;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
}

